# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# gedit shit
*~
# IDA Binaries
bin/ffsnetd
examples/example
examples/ffsnet_test_c
examples/fileDecoder
examples/fileEncoder
examples/fileSenderTEST
examples/fileReceiverTEST
lib/ZHT/bin/server_zht
lib/ZHT/bin/c_zhtclient_main
lib/ZHT/bin/testProtocBuf
